h1{
    color: rgb(53, 201, 112);
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}
body{
    font-family: 'Courier New', Courier, monospace, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}
h2{
    color: #333;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 20px;
    padding: 10px;
    border: 1px solid #3fa23f;
    box-shadow: #3fa23f;
    border-radius: 5px;
}
form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}
form input[type="text"],
form input[type="email"],
form input[type="password"]{
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #1d1a1a;
    border-radius: 4px;
}
form input[type="submit"]{
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
form input[type="submit"]:hover{
    background-color: #45a049;
}
p{
    font-size: 1.2em;
    color: #333;
}
.error{
    color: red;
    font-weight: bold;
}
.form-group{
    margin-bottom: 15px;
}
label{
    margin-bottom: 5px;
    font-weight: bold;
}